
main.mainCont {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  font-family: 'HeroRegular';
}

.bodyCont {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.favicon{
	@extend .sprite_1-favicon;
}
