<section class="bodyCont" *ngIf="idPokemon && pokemones">
    <div class="pokemonCont">
      <div class="nombreCont">
        <div class="tipoPokemonPrincipal">
          <img src="../../assets/img/sprites/sprite_1/{{pokemones[idPokemon-1].tipo}}.png">
        </div>
        <h1 class="fontSize20">{{pokemones[idPokemon-1].nombre}}</h1>
      </div>
      <img src="{{pokemones[idPokemon-1].src_img}}" class="imagePokemon">
    </div>
    <div class="statsCont">
      <ul>
        <li>
          <p class="fontSize20">Altura</p>
          <p class="fontSize20"> {{pokemones[idPokemon-1].altura}} </p>
        </li>
        <li>
          <p class="fontSize20">Peso</p>
          <p class="fontSize20"> {{pokemones[idPokemon-1].peso}}</p>
        </li>
        <li>
          <p class="fontSize20">Sexo</p>
          <p class="fontSize20">{{pokemones[idPokemon-1].sexo}}</p>
        </li>
        <li>
          <p class="fontSize20">Categoría</p>
          <p class="fontSize20"> {{pokemones[idPokemon-1].tipo}} </p>
        </li>
        <li>
          <p class="fontSize20">Habilidad</p>
          <p class="fontSize20"> {{pokemones[idPokemon-1].hability}} </p>
        </li>
        <div>
          <p class="fontSize20" id="contLikes">0</p>
          <div>
            <button (click)="subirLike($event)">
              <img src="../../assets/img/sprites/sprite_1/arrow-up.png">
            </button>
            <button (click)="bajarLike($event)">
              <img src="../../assets/img/sprites/sprite_1/arrow-down.png">
            </button>
          </div>
        </div>
      </ul>
    </div>
  </section>