@import "../../assets/sass/com/general/variables";


header.headerCont {
    width: 100%;
    color: white;
    margin: 0 auto;
    padding: 1% 0 0 1%;
    background: -moz-linear-gradient(45deg, #6343cb 0%,#baace6 100%); 
    background: -webkit-linear-gradient(45deg, #6343cb 0%,#baace6 100%); 
    background: linear-gradient(45deg,#6343cb 0%,#baace6 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#009ec3',GradientType=1 );
    h1{
       	margin: 0px;
    	width: 80%;
        display: inline-block;
    }
}

.iconoPokeball{
    display: inline-block;
    img{
        vertical-align: sub;
    }
}

@media screen and (max-width: 560px ) {
    header.headerCont{
        text-align: center;
        h1{
            width: 50%;
        }
    }
}